body {
    background-color: #f5f6f8 !important;
    overflow: hidden;
}
.spanadd {
    height: min-content;
    align-self: center;
    margin-left: 15px;
}

.has-error {
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(207, 4, 4, 0.25) !important;
}
.has-success {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(7, 201, 65, 0.25) !important;
}
.text-nowrap-a {
    margin-right: 10px;
}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -36px;
    position: relative;
    z-index: 2;
    background: lightblue;
    padding: 11px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.container-cust {
    display: grid;
    grid-template-columns: 210px 84.3%;
    margin-top: 70px;
}
.cluster {
    background-color: blueviolet;
    padding: 10px 11px;
    border-radius: 50%;
    color: white;
    font-weight: bolder;
}
.maincust-content {
    grid-column-start: 2;
}
.custtabs .nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    border-color: transparent transparent transparent !important;
}
.custtabs .nav-bordered a.active {
    border-bottom: 2px solid #6658dd !important;
}
.custtabs .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #495057 !important;
    background-color: transparent;
    border-left: transparent !important;
    border-right: transparent !important;
    border-top: transparent !important;
}
.cust_toggler {
    border: none;
    background: inherit;
}
.no-select-grey {
    background: aliceblue;
}
.cust_toggler i {
    line-height: 36px;
}
.toggle_body {
    grid-template-columns: 6vw auto;
}
.mdc-cust {
    position: fixed !important;
    bottom: 70px;
    right: 30px;
}
.navbar-brand > img {
    width: 65px;
}
.navbar-brand > p {
    float: right;
    line-height: 35px;
    margin: 0 0 0 20px;
}
.card-box {
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, 0.03);
    margin-bottom: 24px;
    border-radius: 0.25rem;
}
.override_cbody {
    height: 70vh;
    overflow: auto;
}
.cust {
    background: #f5f6f8 !important;
    font-size: 16px;
    font-weight: bolder;
}
.red-text {
    color: $red;
}
.btntable {
    border: none;
    background: inherit;
}

.w30{
    width: 30px !important;
}
.center-text {
    text-align: center;
}
.thumbcust {
    width: 135px !important;
}
.badge-success {
    padding: 10px !important;
}
// .notification-list .notify-item .notify-details{
//     margin-left: 0;
// }
// .notification-list .notify-item .user-msg{
//     margin-left: 0;
// }
.notification-list .notify-item {
    min-width: 270px;
    padding: 6px 10px;
}
.navbar-custom {
    background-color: #ffffff;
    height: 65px;
}
.left-side-menu {
    z-index: 999;
    top: 65px;
}
.navbar-custom .app-search .form-control {
    border: none;
    height: 38px;
    padding-left: 20px;
    padding-right: 0;
    background-color: #f1f5f7;
    box-shadow: none;
    border-radius: 30px 0 0 30px;
    color: #6c757d;
}
.navbar-custom .app-search .form-control::placeholder {
    color: #6c757d !important;
}
.navbar-custom .app-search .form-control::-webkit-input-placeholder {
    color: #6c757d !important;
}
.navbar-custom .button-menu-mobile {
    color: black;
    height: 65px;
    line-height: 65px;
}
.navbar-custom .topnav-menu .nav-link {
    color: #6c757d;
}
.logo .logo-lg-text-light {
    color: #6c757d;
    text-transform: none;
}
.navbar-custom .app-search .btn {
    background-color: #f1f5f7;
    color: #6c757d;
}
.logo {
    line-height: 65px;
}
.logo:hover {
    text-decoration: none;
}
.logo:hover span {
    text-decoration: none;
    color: #00acc1;
}
.sbl-circ-dual {
    height: 48px;
    width: 48px;
    color: #00acc1;
    display: inline-block;
    position: relative;
    border: 5px solid;
    border-radius: 50%;
    border-top-color: transparent;
    margin: 6px;
    animation: rotate 1.5s linear infinite;
}
.outer-sbl-circ {
    height: 70px;
    width: 70px;
    color: #fdd835;
    display: inline-block;
    position: relative;
    border: 5px solid;
    border-radius: 50%;
    text-align: center;
    border-top-color: transparent;
    animation: rotate 2.5s linear infinite;
}
.sbl-circ-dual-inner {
    height: 50%;
    width: 50%;
    display: block;
    color: #37474f;
    margin: 10px auto;
    position: relative;
    border: 5px solid;
    border-radius: 50%;
    border-top-color: transparent;
    animation: rotate 3.5s linear infinite reverse;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.preloader-site {
    overflow: hidden;
}
.preloader {
    width: 100%;
    height: 100vh;
    background: #f5f6f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Raleway", sans-serif;
    position: absolute;
    z-index: 99999;
}
.preloaderstate {
    display: none;
}
.footer {
    z-index: 999;
    background-color: white;
    padding: 15px;
}
.logo-box {
    height: 65px;
}
.inboxactive {
    color: #e3342f !important;
    font-weight: bolder;
}
.content-page {
    overflow: auto;
    max-height: 80vh;
}
.sidebar-enable .content-page {
    overflow: unset;
    max-height: unset;
}
.enlarged {
}
.sidebar-enable {
    overflow: auto;
}
#custnot .dropdown-toggle::after {
    content: none;
}
.inbox-rightbar {
    overflow-x: auto;
    margin-left: 200px;
    min-height: 80vh;
}
.inbox-leftbar {
    width: 200px;
}
.formtable_cust {
    width: min-content;
    display: unset;
    padding: 0;
    font-size: 15px;
}
.custom-header {
    width: 100%;
    padding: 10px;
    font-weight: bolder;
}
.iconable {
    margin-right: 10px;
    font-size: 20px;
}
.disonabled {
    pointer-events: none;
    color: gray;
}
.signature {
    width: 50px;
    height: 50px;
}
.readonlysel {
    pointer-events: none;
}
.innerhtml table {
    background: inherit !important;
}
.innerhtml a {
    color: inherit;
}
form.row {
    margin: 0;
}
.table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody th.select-checkbox:before {
    margin-top: 0px;
}
.ms-container {
    max-width: inherit !important;
}
.pac-container {
    z-index: 1051 !important;
}
.el-transfer-panel {
    width: 45% !important;
}
.el-transfer__buttons {
    padding: 0 10px !important;
}
.el-button {
    display: block !important;
}
.truncate-overflow {
    --max-lines: 3;
    position: relative;
    max-height: 90px;
    overflow: hidden;
    padding-right: 1rem; /* space for ellipsis */
}
.truncate-overflow::before {
    position: absolute;
    content: "....";
    bottom: 0;
    right: 0;
    font-weight: bolder;
}
.truncate-overflow::after {
    content: "";
    position: absolute;
    /*
  inset-inline-end: 0;
  */
    right: 0;
    /* missing bottom on purpose*/
    width: 1rem;
    height: 1rem;
    background: white;
}

// .enlarged .left-side-menu .slimScrollDiv, .enlarged .left-side-menu .slimscroll-menu {
//     height: 1095px !important;
// }
// .enlarged .left-side-menu .slimscroll-menu {
//     overflow: inherit!important;
//     height: auto!important;
// }
