div#mainsidenav::-webkit-scrollbar {
    display: none;
}
.inlinedrop{
    padding-top: 3px !important;
}
.indicators_purple {
    width: 5px;
    height: 37px;
    float:left;
    vertical-align: middle;
  }
  .sr-only{
    transition: all 1s ease;
  }
  #header_custom .brand-logo{
    transition: all 1s ease;
  }
  .custom_side_nav nav #myNavbar ul{
    padding: 0;
    list-style-type: none;
  }
  .custom_side_nav nav #myNavbar >ul{
      padding-bottom: 80px;
  }
  .body_custom nav .brand-logo{
  padding: 0 0 0 2%;
  }
  .custom_side_nav ul>li i{
    height: 37px;
    text-align: center;
    float: left;
    width: 27px;
    margin: 0 0 0 5%;
    font-size: 1.3375rem;
  line-height: 37px;
  margin-right: 20px;
  }
  .toggle_sidnav{
    width: 6vw !important;
  }

  .toggle_sidnav ul>li i{
    margin-left: 22%;
    transition: margin-left 1s ease;

  }
  .custom_side_nav ul > li > i.material-icons:not(li.custom_dash i){
    font-size: 24px !important;
  }
  .custom_side_nav ul > li > i.fas:not(.fa-hotel, .fa-money-check-alt, .fa-money-bill-alt){
    font-size: 22px !important;
  }
  .custom_side_nav ul > li > i.fa-hotel,
  .custom_side_nav ul > li > i.fa-money-check-alt,
  .custom_side_nav ul > li > i.fa-money-bill-alt
  {
    font-size: 18px !important;
  }

  .custom_side_nav ul>li {
    width: 100%;
    padding: 0;
    margin-bottom: 3px;
    height: auto;
    pointer-events: all;
  }
  .toggle_sidnav ul>li{

    pointer-events: none;
  }
  .custom_side_nav ul>li:hover{
    color: #1D4EFA;
    background: rgba(29, 78, 250, 0.1);
  }

  .custom_side_nav ul>li:hover .indicators_purple {
    background-color: #1D4EFA !important;
  }

  .custom_side_nav ul>li:hover i {
    color: #1D4EFA;
  }

  .custom_side_nav li.active {
    color: #1D4EFA !important;
    background: rgba(29, 78, 250, 0.1);
  }

  .custom_side_nav .active .indicators_purple {
    background-color: #1D4EFA !important;
  }

  .custom_side_nav .active i {
    color: #1D4EFA !important;
  }

  .custom_side_nav ul>li a {
    padding: 0;
    width: 100%;
    margin-left:0;
    font-size: inherit;
    color: inherit;

  }
  .span_cust{
    margin-left: 0;
    transition: margin-left 1.3s ease;
  }
  .span_cust i{
    display: block;
    opacity: 1;
    width: auto;
    height: auto;
    transition-delay: 1.3s;
    float:right !important;
  }
  .toggle_sidnav .span_cust{
    margin-left: -9999px;
    transition: margin-left .3s ease;
  }
  .toggle_sidnav .span_cust i{
    opacity: 0;
    height: 0;
    width: 0;
    transition: opacity 1.3s ease;
  }
  .custom_side_nav ul>li a:before{
    text-indent: 0;
  }

  .custom_side_nav ul>li>p {
    line-height: 15px;
    margin: 0 8px;
    padding-left: 8px;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 5px;
  }
  .custom_dash{
    height:auto;
  }
  .custom_dash i {
    font-size: 2rem !important;
    line-height: 47px !important;
    height: 47px !important;
  }
  .custom_drop{
    display:block !important;
  }
  .dropclick ul{
    display: none;
  }
  .custom_dash a {
    line-height: 47px !important;
  }

  .custom_side_nav>nav {
    height: auto;
    line-height: 37px;
  }
  .custom_side_nav .dropdown-content {
      background-color: #fff;
      margin: 0;
      display: none;
      min-width: 40px !important;
      width: 226px !important;
      height: auto !important;
      overflow:hidden !important;
      opacity: 0;
      position: absolute !important;
      top: 0;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      left: 100% !important;
      color: rgba(255, 255, 255,1);
  }

  .custom_side_nav .dropdown-content li {
    height: 37px !important;
    line-height: 37px !important;
    min-height: 37px !important;
    color: inherit;
  }

  .custom_side_nav .dropdown-content li>span {
    padding: 0;
  }

  .custom_side_nav .dropdown-content li>a {
    text-align: left;
    line-height: 37px;
    padding: 0 0 0 16px;
    background: inherit;
  }

  .custom_side_nav .dropdown-content li>a>i {
    margin: 0 24px 0 0;
    color: white !important;
  }
  .custom_side_nav {
    left: 0;
    top: 70px;
    float: left;
    min-height: 100vh;
    bottom: 0;
    width: 210px;
    transition: width 1.5s ease;
    z-index: 1031;
    height: inherit;
    position: fixed;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-bottom: 25px;

  }

  .toggle_container {
    width: 160%;
    height: 57px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    padding-left: 7px;
  }

  .toggle_container button {
    padding: 9px;
    height: auto;
  }
  .toggle_container img{
    width: 40px;
  float: left;
  }
  .toggle_container i{
    line-height: 22px !important;
      margin: auto 0 !important;
      height: auto !important;
  }
