@charset "UTF-8";
body {
  color: black !important;
}

.side-menu > li > a {
  padding: 0 2.5rem 0 1.0625rem;
  font-weight: bolder;
}

.side-menu .menu-item-has-children > a::after {
  font-family: "Linearicons";
  content: "";
}

.side-menu .menu-item-has-children.active > a::after {
  content: "";
}

.side-menu li a {
  font-weight: bolder;
}

.spacious-container {
  overflow-x: auto;
}

.side-menu ul {
  font-weight: initial;
}

.list-icon :not(.side-menu .list-icon) {
  font-weight: 500;
}

.btntable {
  border: none;
  background: inherit;
}

.disonabled {
  pointer-events: none;
  color: gray;
}

.formtable_cust {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: unset;
  padding: 0;
  font-size: 15px;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -48px;
  position: relative;
  z-index: 2;
  background: lightblue;
  padding: 15px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.w30 {
  width: 20px !important;
}

#disform .col-3 {
  margin-bottom: 10px;
}

.list-icon-modal {
  font-size: 1.125rem;
}

.form-control {
  color: black;
}

.form-control:disabled,
.form-control[readonly] {
  color: inherit;
  background-color: #e9ecef;
}

.small,
small {
  color: inherit;
}

.no-select-grey {
  background: aliceblue;
}

.spanadd {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  align-self: center;
  margin-left: 15px;
}

.backaction {
  margin-right: 20px;
  font-weight: bolder;
}

table.dataTable tbody td.select-checkbox:before,
table.dataTable tbody th.select-checkbox:before {
  margin-top: 5px;
}

table.dataTable tr.selected td.select-checkbox:after,
table.dataTable tr.selected th.select-checkbox:after {
  margin-top: 0px;
  margin-left: -5px;
}

.modal-header {
  margin: 0;
}

.modal-header p {
  margin-bottom: 0;
}

.modal-body .row {
  margin-right: 0;
  margin-left: 0;
}

.ltocontainers-left {
  margin: auto;
  width: 100%;
}

.ltocontainers-right {
  margin: auto;
  width: 100%;
}

.ltocontainers-left b, .ltocontainers-right b {
  padding-right: 20px;
}

.btn {
  font-weight: bolder;
}

.tablist h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0.6rem 0 0.625rem;
}

.mail-list-item:nth-child(odd) {
  background: inherit;
}

.mail-list {
  font-weight: bolder;
}

.mail-list-item {
  position: relative;
  padding: 0.65em 20px;
  border-bottom: none;
}

.mail-sidebar {
  border-right: 5px solid #f6f7fb;
}

.mail-inbox-header {
  border-bottom: none;
  min-height: 2rem;
}

.mail-list .headings-color {
  color: inherit !important;
}

.readonlysel {
  pointer-events: none;
}

.pac-container {
  z-index: 1051 !important;
}

.navbar-nav .avatar::before {
  background: inherit;
}

.navbar-nav .avatar .list-icon {
  color: inherit;
}

[data-sidebar-skin=dark] .side-menu li a {
  background: none;
  color: white;
}

@media (min-width: 961px) {
  [data-sidebar-skin=dark][data-sidebar-state=expand] .side-menu li a {
    color: white;
  }
}
[data-sidebar-skin=dark] .side-menu :not([class*=color-]) > .list-icon {
  color: white;
}

a.navbar-brand:hover {
  color: white;
}

.bg-soft-warning {
  background-color: rgba(247, 184, 75, 0.25) !important;
}

.bg-soft-success {
  background-color: rgba(26, 188, 156, 0.25) !important;
}

.bg-soft-danger {
  background-color: rgba(241, 85, 108, 0.25) !important;
}

.bg-soft-primary {
  background-color: rgba(102, 88, 221, 0.25) !important;
}

.bg-soft-info {
  background-color: rgba(79, 198, 225, 0.25) !important;
}

.mxwidth {
  max-width: 100% !important;
}

.Timeline {
  display: flex;
  align-items: center;
  height: 300px;
}

.event1,
.event2, .event3 {
  position: relative;
}

.event1Bubble {
  position: absolute;
  background-color: rgba(158, 158, 158, 0.1);
  width: 139px;
  height: 70px;
  top: -80px;
  left: -15px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(158, 158, 158, 0.64);
}

.event2Bubble {
  position: absolute;
  background-color: rgba(158, 158, 158, 0.1);
  width: 139px;
  height: 70px;
  left: -105px;
  top: 43px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(158, 158, 158, 0.64);
}

.event1Bubble:after,
.event1Bubble:before,
.event2Bubble:after,
.event2Bubble:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
}

.event1Bubble:before {
  bottom: -10px;
  left: 13px;
  border-top-color: rgba(222, 222, 222, 0.66);
  border-width: 12px;
}

.event1Bubble:after {
  bottom: -8px;
  left: 13px;
  border-top-color: #F6F6F6;
  border-width: 12px;
}

.event2Bubble:before {
  bottom: 70px;
  left: 103px;
  border-top-color: rgba(222, 222, 222, 0.66);
  border-width: 12px;
  transform: rotate(180deg);
}

.event2Bubble:after {
  bottom: 68px;
  left: 103px;
  border-top-color: #F6F6F6;
  border-width: 12px;
  transform: rotate(180deg);
}

.eventTime {
  display: flex;
}

.DayDigit {
  font-size: 27px;
  font-family: "Arial Black", Gadget, sans-serif;
  margin-left: 10px;
  color: #4C4A4A;
}

.Day {
  font-size: 11px;
  margin-left: 5px;
  font-weight: bold;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4C4A4A;
}

.MonthYear {
  font-weight: 600;
  line-height: 10px;
  color: #9E9E9E;
  font-size: 9px;
}

.eventTitle {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #a71930;
  font-size: 11px;
  text-transform: uppercase;
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 12px;
  margin-top: -2px;
}

.time {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  width: 50px;
  font-size: 10px;
  font-weight: bold;
  margin-top: -3px;
  margin-left: -5px;
  color: #9E9E9E;
}

.eventAuthor {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: #9E9E9E;
  font-size: 8px;
  width: 100px;
  top: -8px;
  left: 63px;
}

.event2Author {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: #9E9E9E;
  font-size: 8px;
  width: 100px;
  top: 115px;
  left: -32px;
}

.time2 {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  width: 50px;
  font-size: 10px;
  font-weight: bold;
  margin-top: -40px;
  margin-left: -5px;
  color: #9E9E9E;
}

.now {
  background-color: #004165;
  color: white;
  border-radius: 7px;
  margin: 5px;
  padding: 4px;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid white;
  font-weight: bold;
  box-shadow: 0 0 0 2px #004165;
}

.futureGray {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.futureOpacity {
  filter: opacity(0.3);
}

.wizard a {
  padding: 10px 12px 10px;
  margin-right: 5px;
  background: #efefef;
  position: relative;
  display: inline-block;
}

.wizard a:before {
  width: 0;
  height: 0;
  border-top: 34px inset transparent;
  border-bottom: 34px inset transparent;
  border-left: 20px solid #fff;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

.wizard a:after {
  width: 0;
  height: 0;
  border-top: 34px inset transparent;
  border-bottom: 34px inset transparent;
  border-left: 20px solid #efefef;
  position: absolute;
  content: "";
  top: 0;
  right: -20px;
  z-index: 2;
}

.wizard a:first-child:before,
.wizard a:last-child:after {
  border: none;
}

.wizard a:first-child {
  border-radius: 4px 0 0 4px;
}

.wizard a:last-child {
  border-radius: 0 4px 4px 0;
}

.wizard .badge {
  margin: 0 5px 0 18px;
  position: relative;
  top: -1px;
}

.wizard a:first-child .badge {
  margin-left: 0;
}

.wizard .current {
  background: #007ACC;
  color: #fff !important;
}

.wizard .current:after {
  border-left-color: #007ACC;
}

.chatbox-messages .message.reply p:first-child::after {
  border-color: transparent #f6f7fb transparent transparent !important;
}

.chatbox-messages .message.reply p {
  color: #011d79;
  background: #f6f7fb;
  border: 1px solid #e6ecf5;
}

.maxheight400 {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.form-control-inputs {
  padding: 0.45rem 1.2em !important;
}

.hambuger {
  font-size: 25px;
  /* padding-top: 2px; */
  line-height: 1.2;
}
