<template>
  <form
    class="d-flex flex-wrap align-items-center mb-4"
    @submit.prevent="addToCart()"
  >
    <label class="my-1 me-2 tw-mr-3" for="quantityinput">Quantity</label>
    <div class="me-3">
      <input type="number" v-model="quantity" class="form-control" />
    </div>

    <div class="tw-ml-4">
      <button type="submit" class="btn btn-success waves-effect waves-light">
        <span class="btn-label"><i class="fe-shopping-cart"></i></span>Add to
        cart
      </button>
    </div>
  </form>
</template>
<script>
export default {
  props: ["product"],
  data() {
    return {
      quantity: null,
      inventory_id: null,
      price: null,
    };
  },
  methods: {
    addToCart() {
      axios
        .post("/wholesaler/add_to_cart", {
          quantity: this.quantity,
          inventory_id: this.inventory_id,
          price: this.price,
        })
        .then((resp) => {
          $.toast({
            position: "top-right",
            text: "Cart Has Been Updated",
            icon: "info",
            hideAfter: 2000,
          });
        })
        .catch((error) => {
          $.toast({
            position: "top-right",
            text: "Something went Wrong",
            icon: "error",
            hideAfter: 2000,
          });
        });
      this.quantity = null;
      this.$store.dispatch("queryCartItems");
    },
  },
  mounted() {
    this.inventory_id = this.product.id;
    this.price = this.product.price;
  },
};
</script>
