<template>
  <div>
    <b class="mx-0">Selected Attributes ({{ inputs.length }})</b>
    <div class="row mx-0" v-for="(item, index) in inputs" :key="index">
      <input
        type="hidden"
        name="attribute_id[]"
        class="form-control"
        v-model="item.attribute_id"
      />
      <input
        type="hidden"
        name="attribute_value[]"
        class="form-control"
        v-model="item.attribute_values"
      />

      <div class="form-group col-md-5 pl-0">
        <div>
          <label v-if="index == 0">Name</label>
          <input
            type="text"
            class="form-control py-2"
            v-model="item.attribute_name"
            readonly
          />
        </div>
      </div>

      <div class="form-group col-md-5">
        <div>
          <label v-if="index == 0">Values</label>
          <textarea
            class="form-control py-2"
            v-model="item.inventory_values_text"
            rows="1"
            readonly
          ></textarea>
        </div>
      </div>

      <div class="col-md-2">
        <label for="" style="opacity: 0" v-if="index == 0">.</label><br v-if="index == 0" />
        <span @click="deleteRow(index)" class="btn btn-danger py-2 text-white"
          ><i class="fa fa-trash-o"></i
        ></span>
      </div>
    </div>
    <hr class="mx-0" />
    <div class="row mx-0">
      <div class="form-group col-md-5 pl-0">
        <div>
          <label>Select Attributes</label>
          <select
            class="table-group-action-input form-control input-medium test"
            id="attribute_name"
            data-toggle="select2"
            placeholder="attributes"
          >
            <option>attributes</option>
            <option
              :value="item.id"
              v-for="(item, index) in inventoryattributes"
              :key="index"
            >
              {{ item.label }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-5">
        <div>
          <label>Attribute Values</label>
          <select
            class="table-group-action-input form-control input-medium test"
            id="attribute_value"
            data-toggle="select2"
            multiple
            placeholder="values"
          >
            <option
              :value="item.id"
              v-for="(item, index) in currentvalues"
              :key="index"
            >
              {{ item.option }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-2">
        <label for="" style="opacity: 0">.</label><br />
        <span class="btn btn-primary text-white py-2" @click="addRow"
          ><i class="fa fa-plus"></i
        ></span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      inputs: [],
      currentvalues: [],
    };
  },
  props: ["inventoryattributes", "selected_attributes"],
  methods: {
    addRow() {
      var name = $("#attribute_name");
      var values = $("#attribute_value");

      var check = this.inputs.some(
        (item) => parseInt(item.attribute_id) == parseInt(name.val())
      );

      var filterAttribute = this.inventoryattributes.filter((item) => {
        return item.id == name.val();
      });

      var filterAttributeValue = this.currentvalues.filter((item) => {
        return values.val().includes(item.id.toString()) == true;
      });

      if (check) {
        name.val("").change();
        values.val("").change();

        $.toast({
          position: "top-right",
          text: "Please Select A Different Attribute",
          icon: "error",
          hideAfter: 2000,
        });
      } else {
        this.inputs.push({
          attribute_id: name.val(),
          attribute_name: filterAttribute[0].label,
          attribute_values: values.val(),
          inventory_values_text: filterAttributeValue
            .map((item) => item.option)
            .join(),
        });

        name.val("").change();
        values.val("").change();
      }
    },
    deleteRow(index) {
      this.inputs.splice(index, 1);
    },
    async queryAttributeValues(value) {
      var id = value;
      var thai = this;
      if (id !== null) {
        await axios
          .get("/admin/configurations/attributes/fetchvalues/" + id)
          .then((resp) => {
            thai.currentvalues = resp.data.values;
          })
          .catch((error) => {
            console.log(error);
            // this.error = error.response.data.message;
          });
      }
    },
  },
  mounted() {
    var that = this;
    $("#attribute_name").on("change", function () {
      that.queryAttributeValues($(this).val());
    });

    var mutatated_selected_attributes = Object.keys(this.selected_attributes).map(
      (key) => this.selected_attributes[key]
    );

    if (mutatated_selected_attributes.length > 0) {
      for (let index = 0; index < mutatated_selected_attributes.length; index++) {
        this.inputs.push({
          attribute_id: mutatated_selected_attributes[index][0].attribute_id,
          attribute_name: mutatated_selected_attributes[index][0].label,
          attribute_values: mutatated_selected_attributes[index]
            .map((item) => item.value)
            .join(),
          inventory_values_text: mutatated_selected_attributes[index]
            .map((item) => item.option)
            .join(),
        });
      }
    }
  },
};
</script>
