<template>
  <transition name="modal" v-if="showModalFun">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container" role="dialog">
          <div class="modal-header">
            <p class="main-title">
              {{ routeSwitch == 1 ? "Create" : "Edit" }} Brand Configurations
            </p>
            <button class="modal-default-button" @click="closeModalFun">
              <i
                style="font-size: 21px"
                class="list-icon linearicons-cross2"
              ></i>
            </button>
          </div>

          <form
            :action="
              routeSwitch == 1
                ? '/admin/configurations/brands'
                : '/admin/configurations/brands/update/' + id
            "
            enctype="multipart/form-data"
            method="post"
            class="prevent-multiple-submits"
          >
            <div class="modal-body">
              <div class="row">
                <input type="hidden" :value="csrfToken" name="_token" />

                <input
                  type="hidden"
                  name="brand_id"
                  id="brand_id"
                  v-model="id"
                  v-if="routeSwitch == 2"
                />

                <div class="col-6">
                  <label for="brand_name" class="control-label"
                    >Brand Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Brand Name"
                    name="brand_name"
                    v-model="name"
                    required
                  />
                </div>
                <div class="col-6">
                  <label for="brand_logo" class="control-label"
                    >Brand Logo</label
                  >
                  <small class="text-info text-muted">Select Brand Image</small>
                  <input
                    type="file"
                    id="logo"
                    class="form-control"
                    name="logo"
                    @change="onFileChange()"
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <label for="narration" class="control-label"
                    >Brand Narration</label
                  >
                  <textarea
                    class="form-control"
                    name="narration"
                    v-model="narration"
                  ></textarea>
                </div>
                <div class="col-6">
                  <label for="status" class="control-label">Status</label>
                  <select class="form-control" name="status" v-model="status">
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="col-12 mt-2">
                <input
                  class="btn btn-success btn-sm multiple-submits"
                  type="submit"
                  value="Submit "
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </transition>
</template>

<style scoped>
.vrs-title {
  color: #424242;
  font-weight: bolder;
}
.main-title {
  color: #212121;
  font-weight: bolder;
  margin: 0;
  font-size: 20px;
}
.modal-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  transition: opacity 0.3s ease;
  overflow-y: auto;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: relative;
}

.modal-container {
  width: 80%;
  margin: 50px auto;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
  border: none;
  background: inherit;
}
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>

<script>
export default {
  name: "BrandConfigurationsModal",
  props: ["brand"],

  data() {
    return {
      name: null,
      narration: null,
      status: null,
      logo: null,
      id: null,
    };
  },
  methods: {
    closeModalFun() {
      $(".multiple-submits")
        .text("Please Wait...")
        .attr("disabled", "disabled");
      this.$store.commit("closeBrandConfigModal");
      $("body").removeClass("modal-open");
    },
    onFileChange() {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length) return;
      this.createFile(files[0]);
    },
    createFile(file) {
      var file = new File();
      var reader = new FileReader();
      var vm = this;

      reader.onload = (e) => {
        vm.file = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImage: function (e) {
      this.file = "";
    },
  },
  computed: {
    showModalFun() {
      return this.$store.state.brandconfigstate;
    },
    routeSwitch() {
      return this.$store.state.brandconfigroute;
    },
    updateState() {
      return this.$store.state.brandconfig;
    },
  },
  created() {
    this.csrfToken = document.querySelector('meta[name="csrf-token"]').content;
  },
  watch: {
    updateState: function (data) {
      if (data !== null) {
        this.name = data.name;
        this.logo = data.logo;
        this.narration = data.narration;
        this.status = data.status;
        this.id = data.id;
      } else {
        this.name = null;
        this.logo = null;
        this.narration = null;
        this.status = null;
        this.id = null;
      }
    },
  },
};
</script>

