<template>
    <div>
        <div>
            <div>
                <form @submit.prevent="updateFun()">
                    <div class="d-block">
                        <label for="upload">
                            <i class="fa fa-file-excel-o"></i> Excel
                            Upload</label
                        >
                        <input
                            required
                            type="file"
                            class="form-control"
                            @change="previewFiles"
                            placeholder="Excel Upload..."
                            ref="inputFile"
                        />
                    </div>

                    <button
                        class="btn btn-primary btn-sm multiple-submits mt-3"
                    >
                        Submit
                    </button>
                </form>
            </div>
            <p v-if="BatchStartStatus">{{ initial_msg }}</p>
            <div v-if="progressBar" class="progress mt-3" style="width: 25%">
                <div
                    class="progress-bar progress-bar-striped progress-bar-animated"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: 100%"
                ></div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ["url"],
    data() {
        return {
            initial_msg: "Please Wait for Import To Finish",
            batchStatus: false,
            file: null,
            batchId: null,
            BatchStartStatus: false,
            progressBar: false,
        };
    },

    methods: {
        checkJobStatus() {
            var that = this;
            axios
                .get("/admin/ajax/batch/status/" + this.batchId)
                .then((resp) => {
                    that.batchStatus = resp.data.batchstatus;
                })
                .catch((error) => {
                    // this.error = error.response.data.message;
                });
        },

        previewFiles(event) {
            this.file = event.target.files[0];
        },
        updateFun() {
            var that = this;

            var submitdata = new FormData();
            submitdata.append("upload", that.file);
            this.progressBar = true;

            axios
                .post(that.url, submitdata, {
                    headers: {
                        "Content-Type": "multipart/form-data",
                    },
                })
                .then((resp) => {
                    that.batchId = resp.data.batchid;
                    that.BatchStartStatus = true;
                    // this.$store.commit("updateBatchId",resp.data.batchid);
                    // $.toast({
                    //     position: "top-right",
                    //     text: resp.data.message,
                    //     icon: "success",
                    //     hideAfter: 2000,
                    //   });
                    that.removeDoc();
                })
                .catch((error) => {
                    // this.error = error.response.data.message;
                });
        },

        removeDoc(inp) {
            if (this.$refs[inputFile].files.length === 0) return;
            this.$refs[inputFile].files = [];
            delete this.body[inputFile];
            this.$refs[`${inputFile}_preview`].src = "";
        },
    },

    watch: {
        batchId: function (value) {
            if (value !== null) {
                var interval = setInterval(() => {
                    if (this.batchStatus == false) {
                        this.checkJobStatus();
                    }

                    if (this.batchStatus) {
                        clearInterval(interval);
                        this.batchId = null;
                        this.progressBar = false;
                        this.initial_msg = "Import Successfully Completed";
                    }
                }, 2000);
            }
        },
    },
};
</script>
