<template>
    <div>
        <div>
            <div v-if="progressBar" class="progress mt-3" style="width: 25%">
                <div
                    class="progress-bar progress-bar-striped progress-bar-animated"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: 100%"
                ></div>
            </div>
            <p v-if="initial_message" class="mt-2">{{ initial_message }}</p>
            <div>
                <span v-if="batchStatus"
                    >Download
                    <a :href="'/admin/donwload/file/' + filename" @click="clearBatch()">{{
                        filename
                    }}</a></span
                >
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            batchStatus: false
        };
    },
    computed: {
        batchId() {
            return this.$store.state.BatchId;
        },
        filename() {
            return this.$store.state.filename;
        },
        batchstartstatus() {
            return this.$store.state.BatchStartStatus;
        },
        progressBar(){
            return this.$store.state.progressBarStatus;
        },
        initial_message(){
            return this.$store.state.initial_message;

        }
    },

    methods: {
        checkJobStatus() {
            var that = this;
            axios
                .get("/admin/ajax/batch/status/" + this.batchId)
                .then((resp) => {
                    that.batchStatus = resp.data.batchstatus;
                    // this.$store.commit("updateBatchId",resp.data.batchid);
                    // $.toast({
                    //     position: "top-right",
                    //     text: resp.data.message,
                    //     icon: "success",
                    //     hideAfter: 2000,
                    //   });
                })
                .catch((error) => {
                    // this.error = error.response.data.message;
                });
            this.$store.commit("bstatusUpdate");
        },
        clearBatch(){
            this.batchStatus=false;
        }
    },

    watch: {
        batchId: function (value) {
            if (value !== null) {
                var interval = setInterval(() => {
                    if (this.batchStatus == false) {
                        this.checkJobStatus();
                    }

                    if (this.batchStatus) {
                        clearInterval(interval);
                        this.$store.commit("progressUpdate",false);
                        this.$store.commit("updateBatchId", null);
                        this.$store.commit("updateInitialmessage", "Export Done Please Download File");

                    }
                }, 2000);
            }
        },
    },
};
</script>
