<template>
  <span
    class="badge bg-danger rounded-circle noti-icon-badge text-light"
    v-if="counter !== null || counter !== 0"
    >{{ counter }}</span
  >
</template>
<script>
export default {
  data() {
    return {
      counter: null,
    };
  },
  computed: {
    cartcounter() {
      return this.$store.state.cartcount;
    },
  },
  mounted() {
    this.$store.dispatch("queryCartItems");
  },
  watch: {
    cartcounter: function (data) {
      this.counter = data;
    },
  },
};
</script>
