<template>
    <transition name="modal" v-if="showModalFun">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container" role="dialog">
                    <div class="modal-header">
                        <p class="main-title">Edit Comment</p>
                        <button
                            class="modal-default-button"
                            @click="closeModalFun"
                        >
                            <i
                                style="font-size: 21px"
                                class="list-icon linearicons-cross2"
                            ></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form
                            :action="finalroute"
                            method="post"
                            @submit="closeModalFun"
                            class="prevent-multiple-submits"
                        >
                            <div class="col-md-12 row">
                                <input
                                    type="hidden"
                                    :value="csrfToken"
                                    name="_token"
                                />
                                <input
                                    type="hidden"
                                    :value="renderData.id || renderData.order_product_id"
                                    name="order_product_id"
                                />
                                <input
                                    type="hidden"
                                    value="PATCH"
                                    name="_method"
                                />
                                <div class="col-12 mt-2">
                                    <label class="bold" for="note"
                                        >Your Comment</label
                                    >
                                    <br />
                                    <textarea
                                        required
                                        name="note"
                                        id="note"
                                        class="form-control"
                                        rows="5"
                                        :value="renderData.note"
                                    ></textarea>
                                    <br />
                                </div>
                                <div class="col-12 mt-2">
                                    <input
                                        class="btn btn-info multiple-submits"
                                        type="submit"
                                        value="Update Comment"
                                    />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>
<style scoped>
.vrs-title {
    color: #424242;
    font-weight: bolder;
}
.main-title {
    color: #212121;
    font-weight: bolder;
    margin: 0;
    font-size: 20px;
}
.modal-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    transition: opacity 0.3s ease;
    overflow-y: auto;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: relative;
}

.modal-container {
    width: 80%;
    margin: 50px auto;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
    border: none;
    background: inherit;
}
.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
</style>
<script scoped>
export default {
    props: ["finalroute"],
    methods: {
        closeModalFun() {
            $(".multiple-submits")
                .text("Please Wait...")
                .attr("disabled", "disabled");
            this.$store.commit("closeCommentModal");
            $("body").removeClass("modal-open");
        },
    },
    computed: {
        showModalFun() {
            return this.$store.state.comments_modal;
        },
        renderData() {
            return this.$store.state.comment;
        },
    },
    created() {
        this.csrfToken = document.querySelector(
            'meta[name="csrf-token"]'
        ).content;
    },
};
</script>