<template>
  <div class="col-md-12 row">
    <div
      class="col-md-4"
      v-for="(input, index) in inputs"
      style="margin-bottom: 10px"
      :key="index"
    >
      <label> Contact Information {{ index + 1 }}</label>
      <input
        type="text"
        v-model="input.one"
        name="contactname[]"
        placeholder="Contact Name"
        class="form-control"
        required
      />

      <label for></label>
      <input
        type="phone"
        v-model="input.two"
        name="phone[]"
        placeholder="Contact Phone"
        class="form-control"
      />
      <label for></label>
      <input
        type="email"
        v-model="input.three"
        name="email[]"
        placeholder="Contact Email"
        class="form-control"
        required
      />
      <br />
      <span @click="deleteRow(index)" class="btn btn-danger">Delete</span>
    </div>
    <span
      class="btn btn-info spanadd mb-1"
      @click="addRow"
      style="height: max-content; margin-top: auto"
      >Add Contact</span
    >
  </div>
</template>
<script scoped>
export default {
  name: "contacts",
  props: ["getinputs"],
  data() {
    return {
      inputs: [],
    };
  },
  methods: {
    addRow() {
      this.inputs.push({
        id: "",
        one: "",
        two: "",
        three: "",
        four: "",
      });
    },
    deleteRow(index) {
      this.inputs.splice(index, 1);
    },
  },
  computed: {
    correct() {
      var data = [];
      if (this.getinputs.length !== 0) {
        for (let index = 0; index < this.getinputs.length; index++) {
          data.push({
            id: this.getinputs[index].id,
            one: this.getinputs[index].name,
            two: this.getinputs[index].contact_phone,
            three: this.getinputs[index].designation,
            four: this.getinputs[index].additional_notes,
          });
        }
      }
      this.inputs = data;
    },
  },
  mounted() {
    this.correct;
  },
};
</script>
