<template>
  <div>
    <b class="mx-0">Custom Attributes ({{ inputs.length }})</b>
    <div class="row mx-0" v-for="(item, index) in inputs" :key="index">
      <div class="form-group col-md-5 pl-0">
        <div>
          <label v-if="index == 0">Name</label>
          <input
            type="text"
            name="custom_name[]"
            class="form-control py-2"
            v-model="item.custom_attribute_name"
            readonly
          />
        </div>
      </div>

      <div class="form-group col-md-5">
        <div>
          <label v-if="index == 0">Value</label>
          <input
            type="text"
            name="custom_value[]"
            class="form-control py-2"
            v-model="item.custom_attribute_value"
            readonly
          />
        </div>
      </div>

      <div class="col-md-2">
        <label for="" style="opacity: 0" v-if="index == 0">.</label><br v-if="index == 0"/>
        <span @click="deleteRow(index)" class="btn btn-danger text-white py-2"
          ><i class="fa fa-trash-o"></i
        ></span>
      </div>
    </div>
    <hr class="mx-0" />
    <div class="row mx-0">
      <div class="form-group col-md-5 pl-0">
        <div>
          <label>Custom Attributes</label>
          <input
            placeholder="Name"
            id="custom_attribute_name"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="form-group col-md-5">
        <div>
          <label>Attribute Values</label>
          <input
            placeholder="Value"
            id="custom_attribute_value"
            type="text"
            class="form-control"
          />
        </div>
      </div>

      <div class="col-md-2">
        <label for="" style="opacity: 0">.</label><br />
        <span class="btn btn-primary text-white" @click="addRow"
          ><i class="fa fa-plus"></i
        ></span>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      inputs: [],
    };
  },
  props: ["selected_custom_attributes"],
  methods: {
    addRow() {
      var name = $("#custom_attribute_name");
      var value = $("#custom_attribute_value");

      this.inputs.push({
        custom_attribute_name: name.val(),
        custom_attribute_value: value.val(),
      });
    },
    deleteRow(index) {
      this.inputs.splice(index, 1);
    },
  },

  mounted() {
    if (this.selected_custom_attributes.length > 0) {
      for (
        let index = 0;
        index < this.selected_custom_attributes.length;
        index++
      ) {
        this.inputs.push({
          custom_attribute_name: this.selected_custom_attributes[index].name,
          custom_attribute_value: this.selected_custom_attributes[index].value,
        });
      }
    }
  },
};
</script>
