<template>
  <div class="tcontain">
    <div v-show="displaystatus" v-for="(ind,i) in message" :key="ind" class="customtoast animated bounceIn">
      <div class="icon">
        <i class="fa fa-check"></i>
      </div>
      <div class="message">{{ ind }}</div>
      <div class="action" @click="closeToast">
        <i class="fa fa-times-circle"></i>
      </div>
    </div>
  </div>
</template>
<style scoped>
.tcontain {
  position: fixed;
  right: 44px;
  top: 79px;
  z-index: 9999;
}
.customtoast {
  background: #bd362f;
  color: white;
  z-index: 9999;
  padding: 15px;
  width: auto;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
    0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
  font-weight: bolder;
  transition: 1s ease;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 5px;
  margin-bottom: 20px;
}
.action {
  padding-left: 10px;
  font-size: 25px;
}
.action i{
    float: right;
}
.action:hover {
  cursor: pointer;
}
.customtoast > div :not(.action){
  align-items: center;
  justify-items: center;
  display: flex;
}
</style>
<script scoped>
export default {
  data() {
    return {
      displaystatus: true
    };
  },
  created() {
    if (this.displaystatus === true) {
      setTimeout(() => {
        this.displaystatus = false;
      }, 5000);
    }
  },
  props: ["message"],
  methods: {
    closeToast() {
      this.displaystatus = false;
    }
  }
};
</script>
