<template>
    <div>
        <b class="mx-3"
            >Items Selected For Quotations : ({{ inputs.length }})</b
        >
        <div class="maxheight400">
            <div class="row" v-for="(item, index) in inputs" :key="index">
                <input
                    type="hidden"
                    name="inventory_id[]"
                    class="form-control"
                    v-model="item.inventory_id"
                />

                <div class="form-group col-md-3">
                    <div class="col-sm-12">
                        <label v-if="index == 0">Name</label>
                        <input
                            type="text"
                            name="inventory_name[]"
                            class="form-control py-2"
                            v-model="item.inventory_name"
                            readonly
                        />
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <div>
                        <label v-if="index == 0">Price (Ksh.)</label>
                        <input
                            type="text"
                            name="inventory_price[]"
                            class="form-control py-2"
                            v-model="item.inventory_price"
                            readonly
                        />
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <div>
                        <label v-if="index == 0">Quantity</label>
                        <input
                            type="text"
                            name="inventory_quantity[]"
                            class="form-control py-2"
                            v-model="item.inventory_quantity"
                            readonly
                        />
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <div>
                        <label v-if="index == 0">Amount</label>
                        <input
                            type="text"
                            name="inventory_amount[]"
                            class="form-control py-2"
                            v-model="item.inventory_amount"
                            readonly
                        />
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <div>
                        <label v-if="index == 0">Notes</label>
                        <input
                            type="text"
                            name="item_notes[]"
                            class="form-control py-2"
                            v-model="item.notes"
                            readonly
                        />
                    </div>
                </div>

                <div class="col-md-1">
                    <span
                        @click="deleteRow(index)"
                        class="btn btn-danger btn-sm text-white"
                        :class="index == 0 ? 'mt-5' : 'mt-3'"
                        ><i class="fa fa-trash-o"></i
                    ></span>
                </div>
            </div>
        </div>
        <hr class="mx-3" />
        <div class="row">
            <div class="form-group col-md-5">
                <div class="col-sm-12">
                    <label>Select Item</label>
                    <select
                        class="table-group-action-input form-control input-medium test"
                        id="inventory_id"
                    ></select>
                </div>
            </div>

            <input
                type="hidden"
                id="inventory_name"
                class="form-control py-2"
                readonly
            />

            <div class="col-md-2">
                <label>Price (Ksh.)</label>
                <input
                    type="text"
                    id="inventory_price"
                    class="form-control py-2"
                    readonly
                />
            </div>
            <div class="col-md-2">
                <label>Quantity</label>
                <input
                    type="number"
                    id="inventory_quantity"
                    class="form-control py-2"
                    min="1"
                    @keyup="computeSubtotal($event)"
                />
            </div>
            <div class="col-md-2">
                <label>Subtotal</label>
                <input
                    type="text"
                    id="inventory_amount"
                    class="form-control py-2"
                    readonly
                />
            </div>
            <div class="col-md-4 ml-3">
                <label>Notes</label>
                <textarea
                    id="notes"
                    class="form-control py-2"
                    rows="1"
                ></textarea>
            </div>
            <div class="col-md-12 tw-flex tw-justify-end">
                <span class="btn btn-primary text-white mt-3" @click="addRow"
                    ><i class="fa fa-plus"></i
                ></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2 text-center">
                <p class=""><b>Total: </b> Ksh.{{ total }}</p>
                <input type="hidden" name="total" v-model="total" />
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            inputs: [],
        };
    },
    props: ["items"],
    methods: {
        addRow() {
            var id = $("#inventory_id");
            var name = $("#inventory_name");
            var price = $("#inventory_price");
            var quantity = $("#inventory_quantity");
            var amount = $("#inventory_amount");
            var notes = $("#notes");

            var check = this.inputs.some(
                (item) => parseInt(item.inventory_id) == parseInt(id.val())
            );

            if (id.val() == "" || quantity.val() == "") {
                $.toast({
                    position: "top-right",
                    text: "Please Select An Item",
                    icon: "error",
                    hideAfter: 2000,
                });
            } else if (quantity.val() < 0) {
                $.toast({
                    position: "top-right",
                    text: "Negative quantities Not Allowed",
                    icon: "error",
                    hideAfter: 2000,
                });
            } else if (check) {
                id.val("").change();
                name.val("");
                price.val("");
                quantity.val("");
                amount.val("");
                notes.val("");

                $.toast({
                    position: "top-right",
                    text: "Please Select A Different Item",
                    icon: "error",
                    hideAfter: 2000,
                });
            } else {
                this.inputs.push({
                    inventory_id: id.val(),
                    inventory_name: name.val(),
                    inventory_price: price.val(),
                    inventory_quantity: quantity.val(),
                    inventory_amount: amount.val(),
                    notes: notes.val(),
                });

                this.$store.state.inputs = this.inputs;

                id.val("").change();
                name.val("");
                price.val("");
                quantity.val("");
                amount.val("");
                notes.val("");
            }
        },
        deleteRow(index) {
            this.inputs.splice(index, 1);
            this.$store.state.inputs = this.inputs;
        },
        computeSubtotal(event) {
            var value = event.target.value;
            var price = $("#inventory_price").val();
            var subtotal = parseFloat(price) * value;
            $("#inventory_amount").val(subtotal);
        },

        queryInventory(value) {
            var id = value;
            if (id !== null) {
                axios
                    .get("/admin/inventory/ajax/getinventory/specific?id=" + id)
                    .then((resp) => {
                        var data = resp.data.inventory;
                        $("#inventory_name").val(
                            data.name + " (" + data.sku + ")"
                        );
                        $("#inventory_price").val(data.price);
                    })
                    .catch((error) => {
                        this.error = error.response.data.message;
                    });
            }
        },
    },
    mounted() {
        var that = this;
        $("#inventory_id").on("change", function () {
            $("#inventory_name").val("");
            $("#inventory_price").val("");
            $("#inventory_quantity").val("");
            $("#inventory_amount").val("");
            $("#notes").val("");
            that.queryInventory($(this).val());
        });

        if (this.items !== null) {
            for (let index = 0; index < this.items.length; index++) {
                this.inputs.push({
                    inventory_id: this.items[index].inventory_id,
                    inventory_name: this.items[index].inventory.name,
                    inventory_price: this.items[index].price,
                    inventory_quantity: this.items[index].quantity,
                    inventory_amount: this.items[index].total_price,
                    notes: this.items[index].note,
                });
            }
        }
    },
    updated() {
        // $('[data-toggle="select2"]').select2();
    },

    computed: {
        total() {
            var findtotal = 0;
            for (let index = 0; index < this.inputs.length; index++) {
                findtotal =
                    findtotal + parseFloat(this.inputs[index].inventory_amount);
            }
            return findtotal;
        },
    },
};
</script>
