<template>
    <div>
        <b class="mx-3">Production Items In Cart : ({{ inputs.length }})</b>
        <div class="maxheight400">
            <div class="row" v-for="(item, index) in inputs" :key="index">
                <input
                    type="hidden"
                    name="inventory_id[]"
                    class="form-control"
                    v-model="item.inventory_id"
                />
                <input
                    type="hidden"
                    name="priority_id[]"
                    class="form-control"
                    v-model="item.priority"
                />
                <input
                    type="hidden"
                    name="attributes[]"
                    class="form-control"
                    v-model="item.attributes"
                />
                <div class="form-group col-md-5">
                    <div class="col-sm-12">
                        <label v-if="index == 0">Name</label>
                        <input
                            type="text"
                            name="inventory_name[]"
                            class="form-control py-2"
                            v-model="item.inventory_name"
                            readonly
                        />
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <div>
                        <label v-if="index == 0">Quantity</label>
                        <input
                            type="text"
                            name="inventory_quantity[]"
                            class="form-control py-2"
                            v-model="item.inventory_quantity"
                            readonly
                        />
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <div>
                        <label v-if="index == 0">Date</label>
                        <input
                            type="text"
                            name="item_delivery_date[]"
                            class="form-control py-2"
                            v-model="item.delivery_date"
                            readonly
                        />
                    </div>
                </div>

                <div class="form-group col-md-2">
                    <div>
                        <label v-if="index == 0">Notes</label>
                        <input
                            type="text"
                            name="item_notes[]"
                            class="form-control py-2"
                            v-model="item.notes"
                            readonly
                        />
                    </div>
                </div>
                <div class="col-md-1">
                    <span
                        @click="deleteRow(index)"
                        class="btn btn-danger btn-sm text-white"
                        :class="index == 0 ? 'mt-5' : 'mt-3'"
                        ><i class="fa fa-trash-o"></i
                    ></span>
                </div>
            </div>
        </div>
        <hr class="mx-3" />
        <div class="row mx-0">
            <div class="col-md-4">
                <label>Select Item</label>
                <select
                    class="table-group-action-input form-control input-medium test"
                    id="inventory_id"
                ></select>
            </div>
            <div
                class="col-md-4"
                v-for="(item, index) in attributes"
                :key="index"
            >
                <label>Select {{ item.label }}</label>
                <select
                    class="table-group-action-input form-control input-medium test"
                    :id="'inventory_attribute' + index"
                    data-toggle="select2"
                    :name="'attribute[' + item.id + ']'"
                >
                    <option
                        v-for="(individual, i) in item.attributeitems"
                        :key="i"
                        :value="individual.value"
                    >
                        {{ individual.attribute_option_data.option }}
                    </option>
                    <option></option>
                </select>
            </div>
            <input
                type="hidden"
                id="inventory_name"
                class="form-control py-2"
                readonly
            />

            <div class="col-md-4">
                <label>Quantity</label>
                <input
                    type="number"
                    id="inventory_quantity"
                    class="form-control py-2"
                    min="1"
                />
            </div>

            <div class="col-md-4">
                <label>Delivery Date</label>
                <input
                    type="date"
                    id="delivery_date"
                    class="form-control py-2"
                />
            </div>

            <div class="col-md-4 pr-4">
                <label>Priority Level</label>
                <select
                    class="table-group-action-input form-control input-medium"
                    id="priority_id"
                    data-toggle="select2"
                >
                    <option
                        :value="index"
                        v-for="(item, index) in priorityoptions"
                        :key="index"
                    >
                        {{ item }}
                    </option>
                </select>
            </div>
            <div class="col-md-4">
                <label>Notes</label>
                <textarea
                    id="notes"
                    class="form-control py-2"
                    rows="1"
                ></textarea>
            </div>
            <div class="col-md-12 tw-flex tw-justify-end">
                <span class="btn btn-primary text-white mt-3" @click="addRow"
                    ><i class="fa fa-plus"></i
                ></span>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            inputs: [],
            attributes: [],
        };
    },
    props: ["priorityoptions", "items"],
    methods: {
        addRow() {
            var id = $("#inventory_id");
            var name = $("#inventory_name");
            // var price = $("#inventory_attribute");
            var quantity = $("#inventory_quantity");
            var ddate = $("#delivery_date");
            var priority = $("#priority_id");
            var notes = $("#notes");
            var db_attributes = [];

            for (let index = 0; index < this.attributes.length; index++) {
                var key = this.attributes[index].id;
                var data = {
                    parent: key,
                    child: $("#inventory_attribute" + index).val(),
                };
                db_attributes.push(data);
            }

            var check = this.inputs.some(
                (item) => parseInt(item.inventory_id) == parseInt(id.val())
            );

            if (id.val() == "" || quantity.val() == "") {
                $.toast({
                    position: "top-right",
                    text: "Please Select An Item",
                    icon: "error",
                    hideAfter: 2000,
                });
            } else if (quantity.val() < 0) {
                $.toast({
                    position: "top-right",
                    text: "Negative quantities Not Allowed",
                    icon: "error",
                    hideAfter: 2000,
                });
            } else if (check) {
                id.val("").change();
                name.val("");
                this.attributes = [];
                quantity.val("");
                ddate.val("");
                priority.val("");
                notes.val("");

                $.toast({
                    position: "top-right",
                    text: "Please Select A Different Item",
                    icon: "error",
                    hideAfter: 2000,
                });
            } else {
                this.inputs.push({
                    inventory_id: id.val(),
                    inventory_name: name.val(),
                    attributes: JSON.stringify(db_attributes),
                    inventory_quantity: quantity.val(),
                    delivery_date: ddate.val(),
                    priority_id: priority.val(),
                    notes: notes.val(),
                });

                id.val("").change();
                name.val("");
                // price.val("");
                quantity.val("");
                this.attributes = [];
                ddate.val("");
                priority.val("");
                notes.val("");
            }
        },
        deleteRow(index) {
            this.inputs.splice(index, 1);
        },

        queryAttributes(value) {
            var id = value;
            var that = this;
            if (id !== null) {
                axios
                    .get(
                        "/admin/inventory/ajax/getinventory/attributes?id=" + id
                    )
                    .then((resp) => {
                        var data = resp.data.inventory;
                        $("#inventory_name").val(
                            data.name + " (" + data.sku + ")"
                        );

                        that.attributes = resp.data.attributes;
                    })
                    .catch((error) => {
                        this.error = error.response.data.message;
                    });
            }
        },
    },
    mounted() {
        var that = this;
        $("#inventory_id").on("change", function () {
            $("#inventory_name").val("");
            $("#inventory_quantity").val("");
            $("#delivery_date").val("");
            $("#priority_id").val("");
            $("#notes").val("");
            that.queryAttributes($(this).val());
        });
        if (this.items !== null) {
            for (let index = 0; index < this.items.length; index++) {
                var fin_array = [];
                this.items[index].attributes.forEach((element) => {
                    fin_array.push({
                        parent: Object.keys(element)[0],
                        child: Object.values(element)[0],
                    });
                });

                this.inputs.push({
                    inventory_id: this.items[index].inventory_id,
                    inventory_name: this.items[index].name,
                    attributes: JSON.stringify(fin_array),
                    inventory_quantity: this.items[index].requested_quantity,
                    delivery_date: this.items[index].item_delivery_date,
                    priority_id: this.items[index].item_priority,
                    notes: this.items[index].item_notes,
                });
            }
        }
    },
    updated() {
        $('[data-toggle="select2"]').select2();
    },
};
</script>
