<template>
  <transition name="modal" v-if="showModalFun">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container" role="dialog">
          <div class="modal-header">
            <p class="main-title">
              {{ routeSwitch == 1 ? "Create" : "Edit" }} Manufacturer
            </p>
            <button class="modal-default-button" @click="closeModalFun">
              <i
                style="font-size: 21px"
                class="list-icon linearicons-cross2"
              ></i>
            </button>
          </div>

          <form
            :action="
              routeSwitch == 1
                ? '/admin/manufacturers/create'
                : '/admin/manufacturers/update/' + id
            "
            method="post"
            enctype="multipart/form-data"
            @submit="closeModalFun"
            class="prevent-multiple-submits"
          >
            <div class="modal-body">
              <input type="hidden" :value="csrfToken" name="_token" />

              <div class="row">
                <div class="col-6">
                  <div title="Enter manufacturers name" class="form-group">
                    <label for="name">Name:</label>
                    <input
                      required
                      spellcheck="false"
                      name="name"
                      type="text"
                      class="form-control"
                      v-model="name"
                      placeholder="Manufacturer's Name"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="phone_number">Phone:</label>
                    <input
                      required
                      name="phone"
                      type="text"
                      class="form-control"
                      v-model="phone"
                      placeholder="Phone Number"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="email_address">Email Address:</label>
                    <small><em>(Will serve as account username)</em></small>
                    <input
                      required
                      name="email"
                      type="email"
                      class="form-control"
                      v-model="email"
                      placeholder="Email Address"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label class="control-label" for="logo">Logo:</label>
                    <div>
                      <input type="file" id="logo" name="logo" />
                      <p class="help-block">
                        (Optional) Select manufacturer's logo
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="notes" class="control-label">Notes:</label>
                    <br />
                    <div class="">
                      <textarea
                        rows="5"
                        id="notes"
                        class="form-control"
                        name="notes"
                        v-model="notes"
                        placeholder="(Optional) Notes on manufacturer"
                      ></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <label for="status" class="control-label">Status</label>
                  <select class="form-control" name="status" v-model="status">
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="col-12 mt-2">
                <input
                  class="btn btn-info multiple-submits"
                  type="submit"
                  value="Submit"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </transition>
</template>

<style scoped>
.vrs-title {
  color: #424242;
  font-weight: bolder;
}
.main-title {
  color: #212121;
  font-weight: bolder;
  margin: 0;
  font-size: 20px;
}
.modal-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  transition: opacity 0.3s ease;
  overflow-y: auto;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: relative;
}

.modal-container {
  width: 80%;
  margin: 50px auto;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
  border: none;
  background: inherit;
}
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>

<script>
export default {
  name: "CreateManufacturerModal",
  props: ["manufacturer"],

  data() {
    return {
      name: null,
      phone: null,
      email: null,
      logo: null,
      status: null,
      notes: null,
    };
  },
  methods: {
    closeModalFun() {
      $(".multiple-submits")
        .text("Please Wait...")
        .attr("disabled", "disabled");
      this.$store.commit("closeManufacturersModal");
      $("body").removeClass("modal-open");
    },
  },
  computed: {
    showModalFun() {
      return this.$store.state.manufacturersmodalstate;
    },
    routeSwitch() {
      return this.$store.state.manufacturerroute;
    },
    updateState() {
      return this.$store.state.manufacturer;
    },
  },
  created() {
    this.csrfToken = document.querySelector('meta[name="csrf-token"]').content;
  },
  watch: {
    updateState: function (data) {
      if (data !== null) {
        this.name = data.name;
        this.phone = data.phone;
        this.email = data.email;
        this.logo = data.logo;
        this.notes = data.notes;
        this.status = data.status;
        this.id = data.id;
      } else {
        this.name = null;
        this.phone = null;
        this.email = null;
        this.logo = null;
        this.notes = null;
        this.status = null;
        this.id = null;
      }
    },
  },
};
</script>
