<template>
  <div>
    <div class="row">
      <div class="col-3 col-md-4">
        <div class="card">
          <div class="card-header">Categories</div>
          <div class="card-body" style="height: 450px; overflow: auto">
            <ul style="list-style-type: none; margin: 0; padding: 0">
              <li
                v-for="(item, index) in categories"
                :key="index"
                @click="loadInventoryItems(item.id)"
                style="
                  padding-top: 3px;
                  padding-bottom: 3px;
                  background: #f3f7f9;
                  margin-bottom: 2px;
                  border-radius: 4px;
                  padding-left: 15px;
                  cursor: pointer;
                "
              >
                {{ item.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-9 col-md-8">
        <div class="card">
          <form
            action="/admin/manufacturers/sync/productionlist"
            method="post"
            id="yoyote"
          >
            <div class="card-header">
              <div class="row">
                <div class="col-8">Invetory Items</div>
                <div class="col-4">
                  <button
                    type="submit"
                    class="btn btn-sm btn-success float-right"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>

            <div class="card-body" style="height: 450px; overflow: auto">
              <input
                type="hidden"
                name="manufacturer_id"
                :value="manufacturer.id"
              />
              <input type="hidden" name="category" :value="category" />
              <input
                type="hidden"
                name="manufacturer_name"
                :value="manufacturer.name"
              />
              <input type="hidden" :value="csrfToken" name="_token" />
              <label>
                <input
                  type="checkbox"
                  id="toggleAll"
                  @change="toggleAll()"
                />Select All
              </label>
              <ul
                v-if="inventoryItems.length > 0"
                style="list-style-type: none; margin: 0; padding: 0"
              >
                <li v-for="(item, index) in inventoryItems" :key="index">
                  <label>
                    <input
                      type="checkbox"
                      name="item[]"
                      @change="listenforChanges()"
                      :value="item.inventory_id"
                      :checked="
                        active_items.includes(item.inventory_id) ? true : false
                      "
                    />
                    {{ item.inventory.name }}
                  </label>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
</style>

<script>
export default {
  name: "manageProductionList",
  props: ["categories", "active_items", "manufacturer"],

  data() {
    return {
      inventoryItems: [],
      category: null,
      listener: 0,
    };
  },
  methods: {
    listenforChanges() {
      this.listener = 1;
    },
    loadInventoryItems(id) {
      var that = this;
      if (this.listener == 1) {
        //prompt user to resubmit inventory items due to changes made
        $.toast({
          position: "top-right",
          text: "A change has been made,Please Submit Inventory Items",
          icon: "info",
          hideAfter: 5000,
          afterShown: function () {
            var confirmation = confirm(
              "Do you wish to submit the changes made."
            );
            if (confirmation == true) {
              $("#yoyote").submit();
            } else {
              that.commonImplementation(id);
            }
          },
        });
      } else {
        that.commonImplementation(id);
      }
    },
    commonImplementation(id) {
      this.category = id;
      axios
        .get("/admin/manufacturers/category-items?id=" + id)
        .then((resp) => {
          this.inventoryItems = resp.data.items;
        })
        .catch((error) => {
          this.error = error.response.data.message;
        });
    },
    toggleAll() {
      if ($("#toggleAll").is(":checked")) {
        //select all
        $("input[name='item[]']").each(function () {
          this.checked = true;
        });
      } else {
        //deselect all
        $("input[name='item[]']").each(function () {
          this.checked = false;
        });
      }

      this.listenforChanges();
    },
  },
  mounted() {
    this.loadInventoryItems(this.categories[0].id);
  },
  created() {
    this.csrfToken = document.querySelector('meta[name="csrf-token"]').content;
  },
};
</script>
