<template>
    <transition name="modal" v-if="showModalFun">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container" role="dialog">
                    <div class="modal-header">
                        <p class="main-title">Account Details</p>
                        <button
                            class="modal-default-button"
                            @click="closeModalFun"
                        >
                            <i
                                style="font-size: 21px;"
                                class="list-icon linearicons-cross2"
                            ></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form
                            :action="'/wholesalers/'+wholesaler.slug+'/accounts/create'"
                            method="post"
                            @submit="closeModalFun"
                            class="prevent-multiple-submits"
                        >
                            <div class="col-md-12 row">
                                <input
                                    type="hidden"
                                    :value="csrfToken"
                                    name="_token"
                                />
                                <input
                                    type="hidden"
                                    value="PATCH"
                                    name="_method"
                                    v-if="routeSwitch == 2"
                                />
                                <input
                                    type="hidden"
                                    name="director_id"
                                    id="director_id"
                                    v-model="id"
                                    v-if="routeSwitch == 2"
                                />
                                <div
                                    class="col-md-12"
                                    style="margin-bottom: 10px;"
                                >
                                    <label>Name</label>
                                    <input
                                        type="text"
                                        v-model="name"
                                        name="name"
                                        placeholder="full names"
                                        class="form-control"
                                        required
                                    />

                                    <label>Email</label>
                                    <input
                                        type="email"
                                        v-model="email"
                                        name="email"
                                        placeholder="email address"
                                        class="form-control"
                                        required
                                    />

                                    <label>Phone</label>
                                    <input
                                        type="tel"
                                        v-model="phone"
                                        name="phone"
                                        placeholder="phone number"
                                        class="form-control"
                                        required
                                    />

                                    <label>Status</label>
                                    <select
                                        id="active"
                                        required="required"
                                        name="active"
                                        class="custom-select"
                                        v-model="status"
                                        ><option value=""
                                            >Choose Active Status</option
                                        ><option value="5">Disabled</option
                                        ><option value="1">Active</option
                                        ></select
                                    >

                                    <input
                                        type="hidden"
                                        v-model="wholesaler.id"
                                        name="wholesaler_id"
                                        required
                                    />
                                </div>

                                <div class="col-12 mt-2">
                                    <input
                                        class="btn btn-info multiple-submits"
                                        type="submit"
                                        value="Save Account"
                                    />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>
<style scoped>
.vrs-title {
    color: #424242;
    font-weight: bolder;
}
.main-title {
    color: #212121;
    font-weight: bolder;
    margin: 0;
    font-size: 20px;
}
.modal-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    transition: opacity 0.3s ease;
    overflow-y: auto;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: relative;
}

.modal-container {
    width: 80%;
    margin: 50px auto;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
    border: none;
    background: inherit;
}
.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
</style>
<script scoped>
export default {
    name: "WholesalerAccountModal",
    props: ["wholesaler"],
    data() {
        return {
            name: null,
            email: null,
            phone: null,
            status: null,
            id: null
        };
    },
    methods: {
        closeModalFun() {
            $(".multiple-submits")
                .text("Please Wait...")
                .attr("disabled", "disabled");
            this.$store.commit("closeWholesalerAccountModal");
            $("body").removeClass("modal-open");
        }
    },
    computed: {
        showModalFun() {
            return this.$store.state.accountmodalstate;
        },

        routeSwitch() {
            return this.$store.state.accountroute;
        },
        renderData() {
            if (this.$store.state.account !== null) {
                this.name = this.$store.state.account.name;
                this.email = this.$store.state.account.email;
                this.phone = this.$store.state.account.phone;
                this.id = this.$store.state.account.id;
                this.status = this.$store.state.account.status;
            } else {
                this.name = null;
                this.email = null;
                this.phone = null;
                this.id = null;
                this.status = null;
            }
        }
    },
    created() {
        this.csrfToken = document.querySelector(
            'meta[name="csrf-token"]'
        ).content;
    },
    updated() {
        this.renderData;
    }
};
</script>
