<template>
    <transition name="modal" v-if="showModalFun">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container" role="dialog">
                    <div class="modal-header">
                        <p class="main-title">Cancel Quantity</p>
                        <button
                            class="modal-default-button"
                            @click="closeModalFun"
                        >
                            <i
                                style="font-size: 21px;"
                                class="list-icon linearicons-cross2"
                            ></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form
                            :action="
                                '/wholesalers/' + wholesaler.slug + '/locations'
                            "
                            method="post"
                            @submit="closeModalFun"
                            class="prevent-multiple-submits"
                        >
                            <div class="col-md-12 row">
                                <input
                                    type="hidden"
                                    :value="csrfToken"
                                    name="_token"
                                />
                                <input
                                    type="hidden"
                                    value="PATCH"
                                    name="_method"
                                    v-if="routeSwitch == 2"
                                />

                                <div
                                    class="col-md-12"
                                    style="margin-bottom: 10px;"
                                >
                                    <label>Location</label>
                                    <input
                                        type="text"
                                        v-model="location"
                                        name="label"
                                        placeholder="eg. Head Office"
                                        class="form-control"
                                        required
                                    />

                                    <label for>Search Place</label>
                                    <gmap-autocomplete
                                        class="form-control"
                                        placeholder="Search Address Location"
                                        @place_changed="getlonglat"
                                        :value="locality"
                                    ></gmap-autocomplete>
                                    <label for></label>
                                    <input
                                        type="hidden"
                                        class="form-control"
                                        v-model="locality"
                                        name="locality"
                                        required
                                        placeholder="Locality"
                                    />

                                    <br />
                                    <label>locality:{{ locality }}</label>
                                    <br />
                                    <label>latitude:{{ latitude }}</label>
                                    <br />
                                    <label>longitude:{{ longitude }}</label>

                                    <input
                                        type="hidden"
                                        v-model="latitude"
                                        name="latitude"
                                        required
                                    />
                                    <input
                                        type="hidden"
                                        v-model="longitude"
                                        name="longitude"
                                        required
                                    />
                                    <input
                                        type="hidden"
                                        v-model="wholesaler.id"
                                        name="wholesaler_id"
                                        required
                                    />
                                     <input
                                        type="hidden"
                                        v-model="id"
                                        name="location_id"
                                        required
                                        v-if="id!==null"
                                    />
                                </div>

                                <GmapMap
                                    :center="{ lat: lat, lng: long }"
                                    :zoom="14"
                                    map-type-id="terrain"
                                    style="width: 100%; height: 300px;margin-top:10px"
                                >
                                    <GmapMarker
                                        :position="{ lat: lat, lng: long }"
                                        :clickable="true"
                                        :draggable="true"
                                        @click="center = m.position"
                                        @dragend="getdraggedlonglat"
                                    />
                                </GmapMap>
                                <div class="col-12 mt-2">
                                    <input
                                        class="btn btn-info multiple-submits"
                                        type="submit"
                                        value="Save Location"
                                    />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>
<style scoped>
.vrs-title {
    color: #424242;
    font-weight: bolder;
}
.main-title {
    color: #212121;
    font-weight: bolder;
    margin: 0;
    font-size: 20px;
}
.modal-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    transition: opacity 0.3s ease;
    overflow-y: auto;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    position: relative;
}

.modal-container {
    width: 80%;
    margin: 50px auto;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    margin: 20px 0;
}

.modal-default-button {
    float: right;
    border: none;
    background: inherit;
}
.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
</style>
<script scoped>
export default {
    name: "wholesalerLocationModal",
    props: ["wholesaler"],
    data() {
        return {
            location: null,
            locality: null,
            longitude: null,
            latitude: null,
            lat: -1.297024,
            long: 36.819921,
            id: null
        };
    },
    methods: {
        closeModalFun() {
            $(".multiple-submits")
                .text("Please Wait...")
                .attr("disabled", "disabled");
            this.$store.commit("closeLocationModal");
            $("body").removeClass("modal-open");
        },
        getlonglat(places) {
            this.lat = places.geometry.location.lat();
            this.long = places.geometry.location.lng();
            this.latitude = this.lat;
            this.longitude = this.long;
            this.locality = places.formatted_address;
        },
        getdraggedlonglat(input) {
            const geocoder = new google.maps.Geocoder();
            const latlong = {
                lat: input.latLng.lat(),
                lng: input.latLng.lng()
            };
            this.finposition = latlong;
            var that = this;
            geocoder.geocode({ location: latlong }, function(results, status) {
                if (status === "OK") {
                    that.lat = results[0].geometry.location.lat();
                    that.long = results[0].geometry.location.lng();

                    that.latitude = that.lat;
                    that.longitude = that.long;
                    that.locality = results[0].formatted_address;
                }
            });
        }
    },
    computed: {
        showModalFun() {
            return this.$store.state.locationmodalstate;
        },

        routeSwitch() {
            return this.$store.state.locationroute;
        },
        renderData() {
            if (this.$store.state.wholesalerlocation !== null) {
                this.location = this.$store.state.wholesalerlocation.label;
                this.locality = this.$store.state.wholesalerlocation.locality;
                this.longitude = this.$store.state.wholesalerlocation.longitude;
                this.latitude = this.$store.state.wholesalerlocation.latitude;
                this.id = this.$store.state.wholesalerlocation.id;
            } else {
                this.location = null;
                this.locality = null;
                this.longitude = null;
                this.latitude = null;
                this.id = null;
            }
        }
    },
    created() {
        this.csrfToken = document.querySelector(
            'meta[name="csrf-token"]'
        ).content;
    },
    updated() {
        this.renderData;
    }
};
</script>
